body{
    font-family: "IntuitiveRegular";
}

.navbar{
    background-color: #080808;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
h4{
    text-decoration: none;
    color: antiquewhite;
    font-family: tahoma;
    font-style: inherit;
}
.navbar a:hover{
    background: url(images/carotte-gif.png);
    background-repeat: no-repeat;
    color: #ff8000;
}
@media screen (min-width: 200px) and (max-width: 640px) {
    .contenu .container{
      display:block;
      clear:both;
    }
  }
.contenu{
    background: url(images/montauban4.jpg);
    background-repeat: no-repeat;
    height : 700px;
    width: 1545px;
    max-width: 100%;
    text-align: center;
    margin-top: 90px;
    padding-top: 80px;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #080808;
}
a:hover{
    text-decoration: none;
    color: #ff8000;
}
.titre{
    font-size: 50px;
}
.inputs{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    color: black;
    font-size: 30px;
}
#engagements{
    margin-top: 30px;
}
.inputs2{
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    color: black;
    font-size: 30px;
}
.Fournisseur{
    display: flex;
    justify-content: space-around;
    height: 80px;
}
.texte h1{
    color:#ff0000
}
.texte{
   color: #080808;
   font-size: 20px;
   text-align: center;
   margin-left: 10px;
   margin-top: 30px;
}
.texte .p{
    color: #ff8000
}
.bouton{
    margin-top: 170px;
    padding: 12px 50px;
    background: #C9001A;
    color: #FFFFFF;
    -webkit-transition: all 1.8s ease-out 0s;
    -moz-transition: all 1.8s ease-out 0s;
    transition: all 1.8s ease-out 0s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 4px dashed #000000;
}
.bouton:hover{
    background:#000000;
    color: #FFFFFF;
    border: 4px solid rgb(230, 31, 31);
}
.engage{
    text-align: center;
    font-size: 40px;
    max-width: 100%;
    margin-top: 100px:
}
#Chiffres{
    text-align: center;
    margin-top: 20px;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
.card-group{
   display: block;
   justify-content: space-between;
}
.card-title{
    color: #ff0000;
}